* {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

img {
    border: none;
}

body {
    text-align: left;
    font-family: monospace;
    font-size: 0.9em;
    padding-bottom: 0.5em;
    background-image: url("./images/background.png");
}

p img.icon {
    height: 1.4em;
    width: 1.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    vertical-align: text-bottom;
}

a {
    color: #169;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
    background-color: #124;
    color: #eef;
    padding: 0.2em;
    padding-left: 0.25em;
}

h1 img.icon {
    height: 1em;
    width: 1em;
    margin-left: 0.2em;
    vertical-align: text-top;
}

h2 {
    font-size: 1em;
    background-color: #235;
    color: #eef;
    padding: 0.2em;
    padding-left: 0.25em;
}

h3 {
    font-size: 1em;
    background-color: #346;
    color: #eef;
    padding: 0.2em;
    padding-left: 0.25em;
}

h4 {
    font-size: 1em;
    font-weigh: bold;
    color: #124;
    margin-top: 1em;
}

.section {
    padding: 0.25em 0 0.25em 1em;
}

.sub-section {
    padding: 0.25em;
}

.form-field-label {
    margin-right: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.input-text {
    padding: 0.1em;
    margin-right: 0.2em;
    width: 5em;
}

.volume-field {
    width: 4em;
}

.input-submit {
    background-color: #f53;
    color: #fef;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.radio-label {
    margin-left: 0.2em;
    margin-right: 1em;
}

.output-settings .form-field-label {
    display: inline-block;
    font-weight: bold;
}

.output-settings p {
    display: inline-block;
    margin-right: 6em;
}

#wave-link {
    margin-left: 1em;
    font-size: 1em;
}

#wave-base64 {
    width: 100%;
}

.wave-form {
    background-color: #eef;
    padding: 0.25em;
    border: solid 1px #235;
    border-top: solid 1em #235;
}

.wave-settings {
    background-color: rgba(192, 192, 192, 0.1);
}

#wave-forms {
    margin-bottom: 0.25em;
    margin-right: 1em;
}

.wave-header a {
    margin-right: 1em;
}

.wave-section-forms {
    overflow-x: auto;
    white-space: nowrap;
}

.wave-section-form {
    width: 23em;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.25em;
    padding-top: 0.25em;
    border: solid 1px #346;
    border-top: solid 1em #346;
    background-color: #fff;
}

.wave-section-form .form-field-label {
    display: inline-block;
    width: 4em;
}

.wave-section-optional-form {
    display: none;
}

.wave-section-header {
    padding-bottom: 0.25em;
    border-bottom: solid 1px #346;
}

.wave-section-header a {
    margin-right: 1em;
}

.template {
    display: none;
}

audio {
    margin-left: 1em;
}

canvas {
    margin-bottom: 0.25em;
}

.note {
    color: #c64;
    font-weight: bold;
}

.screenshot {
    margin: 1em;
    border: solid 1px #346;
}

.help .section {
    padding: 1em;
    padding-right: 0;
}

.help .sub-section {
    padding: 1em;
    padding-right: 0;
}